<div class="container">
<div class="info">
    <div class="image">
        <img src='@Url.Content("~/images/hairsalon.jpg")' alt="Frisörernas hårsalong" />
    </div>
    <div class="boxText">
        <h2>Frisörerna</h2>
        <p>Välkommen till oss på Frisörerna!</p>
        <p>Hos oss kan du boka tid för klippning, färgning av hår och hår uppsättningar.</p>
        <p>Vi har flera års erfarenhet och har särskilda utbildningar inom hårvård, allt för att ditt hår ska må så bra som möjligt.</p>
        <p>För oss är du som kund viktig och vi vill alltid ge den bästa möjliga servicen.</p>
        <a class="book-btn" asp-area="" asp-controller="Booking" asp-action="Index">Boka</a>
    </div>
</div>  
</div>
