<div class="container">
    <div class="boxes">
    <h2>Våra tjänster</h2>
<div class="box">    
<div class="box1">
    <h3>Klippning</h3>
</div>

<div class="box2">
    <h3>Färgning</h3>
</div>

<div class="box2">
    <h3>Håruppsättning</h3>
</div>

</div>
</div>
</div>