@{
    ViewData["Title"] = "Index";
}

<div class="container">
<div class="info">
    <div class="image">
        <img src='@Url.Content("~/images/employees.jpg")' alt="Anställda på frisörsalongen Frisörerna" />
    </div>
    <div class="boxText">
        <h2>Om oss</h2>
        <p>Vi som arbetar på Frisörerna heter Anna, Petra och Josefin.</p>
        <p>Vi har alla flera års erfarenhet som frisörer och besitter även alla varsitt gesällbrev.</p>
        <p>Vårt fokus ligger på att våra kunder ska vara nöjda och att man ska ha ett friskt hår genom hårvård.</p>
    </div>
</div>  
</div>