@{
    ViewData["Title"] = "Home Page";
}

<div class="shared-hero">
@Html.Partial("_Hero")
</div>

<div class="shared">
@Html.Partial("_ServicesBox")
</div>

<div class="shared">
   @Html.Partial("_InfoStart") 
</div>